@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-7">
        <h1><a href="https://www.asahi.com/news/editorial.html?iref=com_gnavi" target="_blank">朝日新聞 DIGITAL</a></h1>
        <h2>日付</h2>
        <ul>
            <il>記事</il>
            <il>記事</il>
        </ul>
    </div>
    <div class="col-md-7">
        <h1><a href="https://mainichi.jp/editorial/" target="_blank">毎日新聞</a></h1>
        <h2>日付</h2>
        <ul>
            <il>記事</il>
            <il>記事</il>
        </ul>
    </div>
    <div class="col-md-7">
        <h1><a href="https://www.yomiuri.co.jp/editorial" target="_blank">読売新聞</a></h1>
        <h2>日付</h2>
        <ul>
            <il>記事</il>
            <il>記事</il>
        </ul>
    </div>
    <div class="col-md-7">
        <h1><a href="https://www.nikkei.com/opinion/editorial/" target="_blank">日本経済新聞</a></h1>
        <h2>日付</h2>
        <ul>
            <il>記事</il>
            <il>記事</il>
        </ul>
    </div>
    <div class="col-md-7">
        <h1><a href="https://www.sankei.com/column/newslist/editorial-n1.html" target="_blank">産経新聞</a></h1>
        <h2>日付</h2>
        <ul>
            <il>記事</il>
            <il>記事</il>
        </ul>
    </div>
    <div class="col-md-7">
        <h1><a href="https://www.tokyo-np.co.jp/article/column/editorial/CK2019040702000141.html" target="_blank">東京新聞</a></h1>
        <h2>日付</h2>
        <ul>
            <il>記事</il>
            <il>記事</il>
        </ul>
    </div>
</div>